* {
  margin: 0;
  padding: 3px;
}

.root {
  height: 75%;
  left: 50%;
  margin-top: 100px;
  max-width: 500px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.respostas {
  margin-top: 0;
}

.categoria {
  font-family: Arial , Helvetica , sans-serif;
  font-size: 35px;
  position: absolute;
  right: -10vw;
  top: -90px;
}
