body {
  background-image: url('https://www.savannahstate.edu/content/mediakitfiles/game-show-lights-stage-stock-small.jpeg');
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.img-content {
  display: flex;
  justify-content: center;
}

.img-content img {
  width: 80%;
}

.elements-content {
  background-color: #3a2d88;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 3px 30px black;
  color: white;
  padding: 40px;
  width: 40%;
}

.main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.form-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inputs-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.inputs-content label {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.inputs-content input {
  font-family: sans-serif;
  font-size: large;
  height: 25px;
  width: 230px;
}

.inputs-content input:focus {
  box-shadow: 1px 3px 10px black;
}

.inputs-content span {
  font-family: sans-serif;
  font-size: x-large;
}

.btn-content {
  display: flex;
}

.btn-content :first-child {
  align-items: center;
  display: flex;
  font-size: medium;
  height: 50px;
  justify-content: center;
  margin: 0 20px;
  width: 120px;
}

.btn-content :last-child:hover {
  box-shadow: 2px 4px 10px white;
}

.btnPlay {
  background-color: #467c96;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px 10px black;
  color: white;
}

.btnPlay:hover {
  box-shadow: 2px 4px 10px white;
}

.btnConfig {
  align-items: center;
  background-color: #467c96;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 3px 10px black;
  color: white;
  display: flex;
  font-size: medium;
  height: 50px;
  justify-content: center;
  margin: 0 20px;
  width: 120px;
}
