/* Pagina Play */
.play {
  background-color: #e5e5e5;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}

.timer {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  color: #363636;
  display: flex;
  height: 70px;
  justify-content: center;
  margin: 0 0 3rem 3rem;
  width: 70px;
}

.play-content {
  background-color: #e5e5e5;
  display: flex;
  flex-flow: row nowrap;
  height: 60%;
  justify-content: space-evenly;
  margin: 3rem;
}

.questions {
  background-color: white;
  color: #363636;
  font-size: 1.5rem;
  margin: 20px;
  padding: 3rem;
  width: 25%;
}

.title {
  background-color: #242f40;
  color: white;
  margin-top: 0;
  padding: 1.5rem;
  text-align: center;
}

.options {
  align-items: center;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 20px;
  width: 60%;
}

.options aside {
  align-items: center;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  height: 70%;
  justify-content: space-around;
  width: 90%;
}

.wrong-answer {
  background-color: #e5e5e5;
  border-radius: 0.375em;
  color: #363636;
  font-size: 1.2rem;
  height: 20%;
  width: 100%;
}

.correct-answer {
  background-color: #e5e5e5;
  border-radius: 0.375em;
  color: #363636;
  font-size: 1.2rem;
  height: 20%;
  width: 100%;
}

.next-button {
  background-image: linear-gradient(#2d3c52, #4d6a92, #374962);
  border-color: transparent;
  border-radius: 0.375em;
  color: #e5e5e5;
  font-size: 1.2rem;
  padding: 1rem;
  width: 20%;
}
