.question-content {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  padding: 10px 10px 30px;
  text-align: center;
  width: 50%;
}

.options-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;;
}

.btn-next-quest {
  background-color: #3a2d88;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 3px 10px black;
  color: white;
  font-size: large;
  font-weight: 600;
  height: 50px;
  width: 15vw;
}

.btn-next-quest:hover {
  box-shadow: 0 0 10px white;
}

.btn-alternative {
  background-color: #3a2d88;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 3px 10px black;
  color: white;
  font-size: large;
  font-weight: 600;
  height: 100px;
  width: 20vw;
}

.btn-alternative:hover {
  box-shadow: 0 0 10px white;
}

.btn-alternative-correct {
  border: 3px solid rgb(6, 240, 15);
  border-radius: 3px;
  box-shadow: 0 0 10px rgb(6, 240, 15);
  font-size: large;
  font-weight: 600;
  height: 100px;
  width: 20vw;
}

.btn-alternative-wrong {
  border: 3px solid rgb(255, 0, 0);
  border-radius: 3px;
  box-shadow: 0 0 10px rgb(255, 0, 0);
  font-size: large;
  font-weight: 600;
  height: 100px;
  width: 20vw;
}

.timerPaused {
  background: #3a2d88;
  border: 3px solid;
  border-radius: 50px;
  font-size: x-large;
  padding: 30px;
  position: absolute;
  top: 166px;
  width: 25px;
}

.timer {
  background: #3a2d88;
  border: 3px solid;
  border-radius: 50px;
  font-size: x-large;
  padding: 30px;
  position: absolute;
  top: 166px;
  width: 25px;
}

.timer:before {
  border: 6px solid #00ffcb;
  border-radius: 1000px;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  content: '';
  left: 50%;
  min-height: calc(60px + 12px);
  min-width: calc(300px + 12px);
  opacity: 0;
  position: absolute;
  top: 50%;
  transition: all 0.3s ease-in-out 0s;
}

.timer:after {
  animation: ring 1s infinite;
  border: 6px solid red;
  border-radius: 100%;
  content: '';
  height: 30px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  z-index: -1;

}

@keyframes ring {

  0% {
    height: 30px;
    opacity: 1;
    width: 30px;
  }

  100% {
    height: 200px;
    opacity: 0;
    width: 200px;
  }

}
