* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

:root {

  --font-primary: 'Mountains of Christmas' , cursive;

  --font-secondary: 'Lemonada' , cursive;

  --red: rgb(239, 91, 73);

  --yellow: rgb(243, 161, 64);

  --gray-20: rgb(254, 246, 240);

  --blue: rgb(20, 18, 117);

  --blue-dark: rgb(19, 17, 15);

  --white: white;
}

body {
  background-color: var(--gray-20);
}
