* {
  border: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  align-items: center;
  animation: 15s ease infinite;
  animation-name: colors;
  background-image: linear-gradient(45deg, rgb(108, 208, 238), rgb(120, 7, 148));
  background-size: 300% 300%;
  display: flex;
  height: 100vh;
  justify-content: center;
}

@keyframes colors {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container {
  align-self: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  height: 360px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form input {
  border-radius: 3px;
  height: 30px;
  margin-top: 10px;
  outline: none;
  padding-left: 10px;
  width: 250px;
}

.form input:focus {
  border: 2px solid dodgerblue;
}

.form button {
  background-color: rgb(70, 173, 115);
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  margin-top: 10px;
  width: 250px;
}

.form button:hover {
  background-color: rgb(73, 185, 122);
}

.form button:disabled {
  background-color: rgb(175, 175, 175);
  cursor: not-allowed;
}

.config {
  color: linear-gradient(45deg, rgb(108, 208, 238), rgb(120, 7, 148));
  font-size: 30px;
  justify-content: center;
  margin-top: 20px;
}

.config:hover {
  color: rgb(70, 173, 115);
}

.music {
  margin-top: 200px;
}

.logo {
  width: 160px;
}
