body {
  align-content: center;
  background: linear-gradient(white, #b46be8);
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 200px;
  margin-top: 80px;
  padding: 0;
}

.form-login {
  align-items: center;
  background-color: #b46be8;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 170px;
  margin-top: 100px;
  padding: 25px;
  width: 400px;
}

label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.name {
  margin: 5px;
  width: 300px;
}

.email {
  margin: 5px;
  width: 300px;
}

.btn-play {
  margin: 3px;
  width: 80px;
}

.btn-settings {
  margin: 3px;
  width: 80px;
}

button {
  border-radius: 15px;
  color: #b46be8;
}

.title {
  color: #513069;
  font-size: 600%;
}
