.answers button {
  background-color: #c71b04;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  width: 250px;
}

.answers button:hover {
  background-color: rgb(90, 207, 141);
}

.show[ data-testid = 'correct-answer' ] {
  border: 3px solid rgb(6, 240, 15);
}

.show[ data-testid = 'wrong-answer' ] {
  border: 3px solid red;
}
