.label-float {
  padding-top: 13px;
  position: relative;
}

.label-float input {
  appearance: none;
  border: 0;
  border-bottom: 2px solid lightgrey;
  border-radius: 0;
  font-size: 16px;
  min-width: 180px;
  outline: none;
  transition: all 0.3s ease-out;
}

.label-float input:focus, .label-float input:not( :placeholder-shown ) {
  color: #3951b2;
  font-size: 13px;
  margin-top: 0;
}

.label-float input:valid {
  border-bottom: 2px solid rgb(33, 196, 141);
}

.label-float input:required:invalid {
  color: red;
}
