.question-container {
  align-items: center;
  background-color: rgb(64, 134, 226);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: 30px auto;
  padding: 20px;
  width: 800px;
}

.category {
  display: flex;
}

.category h3 {
  margin: 10px;
}

.category h3:last-child {
  color: white;
}
