.question__alternatives__correct {
  border: 3px solid rgb(6, 240, 15);
}

.question__alternatives__incorrect {
  border: 3px solid red;
}

.question__button__true {
  display: block;
}

.question__button__false {
  display: none;
}
