/* main, p {
  margin: 0;
  padding: 0;
} */

/* .main-container {
  display: flex;
  justify-content: center;
} */

/* .question-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 200px;
} */

/* .question-container, p {
  padding: 5px;
} */

/* .answers-container {
  display: inline-block;
} */

/* .answers-container, button {
  justify-content: flex-end;
  margin: 10px;
  padding: 5px;
  width: 100px;
} */

/* #next {
  margin-top: 25px;
} */
